.form-box {
    width: 350px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.radio-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    height: 60px;
    width: 100%;
    margin: auto;
}
.radio-input {
    display: none;
}

.radio-label {
    flex-basis: 45%;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(230, 229, 229, 0.5);
    border-radius: 40px;
}

.radio-input:checked + .radio-label {
    background-color: #0d6efd;
    opacity: 0.8;
    color: white;
}
